* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

/* Header css */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2285c6;
  height: 120px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-wrapper > h1 {
  color: white;
}

.header-nav-wrapper > ul {
  display: flex;
  list-style: none;
}

.header-nav-wrapper > ul > li > a {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Main container css */

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  position: relative;
  background-color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

/* Main card css */

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 98vw;

  padding: 50px 25px;

  position: relative;
}

.main-card::after {
  content: "";
  position: absolute;
  left: 50;
  bottom: -1px;
  width: 1000px;
  height: 2px;
  background-color: #ccc;
}

.main-card:last-child::after {
  display: none;
}

.main-card:nth-child(even) .main-card-wrapper {
  flex-direction: row-reverse;
}

.main-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  gap: 20px;
}

.main-card-wrapper > div:first-child {
  height: 600px;
  width: 600px;

  background-color: #24262b;
}

.main-card-wrapper > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
}

/* Main info css */

.main-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0 160px 0;
}

.main-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  gap: 40px;
}

.main-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.main-info-img-large img {
  width: 75%;
  border-radius: 10px;
  position: absolute;
  top: -247px;
  right: 0;
  z-index: 5;
}

.main-info-img-small img {
  width: 50%;
  border-radius: 10px;
  margin-top: -25%;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 10;
  border: 15px solid white;
}

.main-info-img-small-bg {
  position: absolute;
  top: -20px; /* Adjust as needed */
  right: -20px; /* Adjust as needed */
  height: 70%;
  width: 70%;
  height: auto; /* Maintain aspect ratio */
  background-color: rgba(34, 133, 198, 0.2); /* Light blue background */
  border-radius: 10px; /* Rounded corners */
  z-index: 7; /* Place behind the small image */
}

.main-info-right {
  flex: 1;
}

.main-info-right-label {
  display: inline-block;
  border: 2px solid rgb(0, 123, 255, 0.2);
  border-radius: 20px;
  padding: 8px 16px;
}

.main-info-right h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.main-info-right p {
  margin-bottom: 16px;
}

.main-info-right ul {
  padding-left: 0px;
  list-style: none;
}

.main-info-right ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.main-info-right ul li img {
  color: blue;
}

.main-info-btn-read-more {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration: none;
}

/* Footer css */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20315f;
  padding: 20px 0px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
}

.footer-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 168px;
}

.footer-col > h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}

.footer-col > h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col > p {
  font-weight: normal;
  color: #ffffff;
}

.footer-col > p > a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.footer-col:last-child > div {
  display: flex;
}

.footer-col:last-child > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col:last-child > div > a > img {
  height: 100%;
  width: 100%;
}

.footer-col:last-child > div > a:nth-child(1) > img,
.footer-col:last-child > div > a:nth-child(3) > img {
  height: 90%;
  width: 90%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
  font-size: 14px;
  color: #fff;
}
