* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

/* Header css */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2285c6;
  height: 120px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-wrapper > h1 {
  color: white;
}

.header-nav-wrapper > ul {
  display: flex;
  list-style: none;
}

.header-nav-wrapper > ul > li > a {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Main container css */

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  position: relative;
  background-color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Main card css */

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 98vw;

  padding: 50px 25px;

  position: relative;
}

.main-card::after {
  content: "";
  position: absolute;
  left: 50;
  bottom: -1px;
  width: 1000px;
  height: 2px;
  background-color: #ccc;
}

.main-card:last-child::after {
  display: none;
}

.main-card:nth-child(even) .main-card-wrapper {
  flex-direction: row-reverse;
}

.main-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  gap: 20px;
}

.main-card-wrapper > div:first-child {
  height: 600px;
  width: 600px;

  background-color: #24262b;
}

.main-card-wrapper > div:first-child > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-card-wrapper > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 600px;
}

/* Main info css */

.main-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0 160px 0;
}

.main-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  gap: 40px;
}

.main-info-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.main-info-img-large img {
  width: 75%;
  border-radius: 10px;
  position: absolute;
  top: -259px;
  right: 0;
  z-index: 5;
}

.main-info-img-small img {
  width: 50%;
  border-radius: 10px;
  margin-top: -25%;
  position: absolute;
  top: 190px;
  left: 0;
  z-index: 10;
  border: 15px solid white;
}

.main-info-img-small-bg {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 70%;
  width: 70%;
  height: auto;
  background-color: rgba(34, 133, 198, 0.2);
  border-radius: 10px;
  z-index: 7;
}

.main-info-right {
  flex: 1;
}

.main-info-right-label {
  display: inline-block;
  border: 2px solid rgb(0, 123, 255, 0.2);
  border-radius: 20px;
  padding: 8px 16px;
}

.main-info-right h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.main-info-right p {
  margin-bottom: 16px;
}

.main-info-right ul {
  padding-left: 0px;
  list-style: none;
}

.main-info-right ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.main-info-right ul li img {
  color: blue;
}

.main-info-btn-read-more {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration: none;
}

/* Main news css */
.main-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.main-news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 554px;
  width: 100%;
}

.main-news-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: calc(((100% - 1320px) / 2) + 12px);

  height: 100%;
  width: 50%;
  background-color: #007bff;
}

.main-news-left > p:first-child {
  color: #fff;
  padding: 4px 24px;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 16px;
}

.main-news-left > h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  color: #fff;
}

#main-news-left-p {
  color: #fff;
  width: 600px;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

.main-news-left-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.main-news-left-grid > div {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  width: 312px;
  margin-left: -12px;
  gap: 20px;
  text-align: center;
}

.main-news-left-grid > div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
}

.main-news-left-grid > div > div:first-child > img {
  height: 16px;
  width: 16px;
}

.main-news-left-grid > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-size: 16px;
}

.main-news-left-grid > div > div:last-child > p:last-child {
  font-weight: bold;
  font-size: 20px !important;
}

.main-news-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: #24262b;
}

.main-news-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main rent css */

.main-rent-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-bottom: 80px;
}

.main-rent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-rent-wrapper > h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1b2c51;
  margin-bottom: 8px;
}

.main-rent-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.main-rent-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  width: 300px;
}

.main-rent-grid > div > div:first-child {
  position: relative;
  border-radius: 8px 8px 0 0;
  height: 360px;
  width: 300px;
}

.main-rent-grid > div > div:first-child > img {
  display: block;
  border-radius: 8px 8px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.main-rent-grid > div > div:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-rent-grid > div > div:first-child:hover::after {
  opacity: 1;
}

.main-rent-grid > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 8px 8px;
  height: 100px;
  width: 300px;
  background-color: #eff5ff;
}

.main-rent-grid > div > div:last-child > h5 {
  font-size: 20px;
  color: #1b2c51;
  margin-bottom: 8px;
}

.main-rent-grid > div > div:last-child > p {
  font-size: 16px;
  color: #0463fa;
}

/* Main contacts css */

.main-contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px;
}

.main-contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-contacts-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main-contacts-top > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 176px;
  width: 408px;
  padding: 50px 0 50px 50px;
  gap: 30px;

  background-color: #eff5ff;
  border-radius: 8px;
}

.main-contacts-top > div > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
}

.main-contacts-top > div > div:first-child > img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  width: 16px;
}

.main-contacts-top > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-contacts-top > div > div:last-child > h5 {
  font-size: 16px;
  font-weight: 400;
  color: #8d8e92;
  margin-bottom: 8px;
}

.main-contacts-top > div > div:last-child > p {
  font-size: 18px;
  font-weight: 700;
  color: #1b2c51;
}

.main-contacts-bottom {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.main-contacts-bottom-left {
  min-height: 683px;
  width: 624px;
  background-color: #eff5ff;
  border-radius: 8px;

  padding: 48px;
}

.main-contacts-bottom-left > h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1b2c51;
  margin-bottom: 24px;
}

.main-contacts-bottom-left > p {
  font-size: 16px;
  font-weight: 400;
  color: #8d8e92;
  margin-bottom: 24px;
}

.main-contacts-bottom-left > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-contacts-bottom-left > div > input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8e92;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c7dcfb;
  appearance: none;
  padding: 16px 12px;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-contacts-bottom-left > input {
  display: block;
  width: 100%;
  margin-top: 16px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8e92;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c7dcfb;
  appearance: none;
  padding: 16px 12px;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-contacts-bottom-left > textarea {
  display: block;
  width: 528px;
  min-height: 128px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8e92;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c7dcfb;
  margin-top: 16px;
  appearance: none;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: vertical;
}

.main-contacts-bottom-left > button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 58px;
  width: 528px;
  margin-top: 16px;

  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 8px;

  color: #fff;
  background-color: #0354d5;
  border-color: #034fc8;
  cursor: pointer;
}

.map {
  width: 624px;
  min-height: 683px;
}

.map > iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Directions css */

.main-dir-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 40px;
}

.main-dir-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-dir-wrapper > h1 {
  font-size: 60px;
  font-weight: 700;
  color: #1b2c51;
  margin-bottom: 20px;
}

.main-dir-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-dir-wrapper > div > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 600px;
}

.main-dir-wrapper > div > div:first-child > img {
  max-width: 100%;
  max-height: 100%;
}

.main-dir-wrapper > div > div:last-child {
  padding-top: 100px;
}

.main-dir-wrapper > div > div:last-child > ul {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 160px;
  gap: 10px;
}

/* Projects css */

.main-projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0 40px 0;
}

.main-projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.main-projects-wrapper > h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1b2c51;
}

.main-projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
}

.main-projects-grid > div {
  min-height: 200px;
  box-shadow: 0px 4px 14px 2px rgba(34, 60, 80, 0.1);
  position: relative;
}

.main-projects-grid > div:nth-child(3) {
  grid-row: span 2 / span 2;
}

.main-projects-grid > div:nth-child(5) {
  grid-row: span 2 / span 2;
}

.main-projects-grid > div > p {
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  max-width: 200px;
  overflow-wrap: break-word;
  position: absolute;
  z-index: 15;

  background: rgba(140, 197, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(140, 197, 255, 0.1);
}

.main-projects-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 10;
}

/* Slider css */

.main-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 40px 0;
  background: #007bff;
}

.main-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 600px;
  position: relative;
}

.main-slider {
  display: flex;
  height: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.main-slider > div {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100vw;
  height: 100%;
  scroll-snap-align: start;
}

.main-slider > div > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  height: 100%;
}

.main-slider > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#prevBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;

  position: absolute;

  left: 20%;

  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: transparent;

  color: #0354d5;
  background-color: #ffffff6e;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#prevBtn:hover {
  background-color: #ffffffb3;
}

#nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;

  position: absolute;

  right: 20%;

  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: transparent;

  color: #0354d5;
  background-color: #ffffff6e;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#nextBtn:hover {
  background-color: #ffffffb3;
}

.hide-scrollbar {
  overflow: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ffffff9f;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-dot.active {
  background-color: #fff;
}

/* Support css */
.support-container {
  padding: 20px;
  background-color: #e6f7ff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.support-wrapper {
  max-width: 800px;
  margin: auto;
}

.support-wrapper h1 {
  color: #003d80;
  font-size: 2em;
  margin-bottom: 20px;
}

.support-wrapper ul {
  list-style-type: none;
  padding-left: 0;
}

.support-wrapper li {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.support-wrapper li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.support-wrapper a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2em;
}

.support-wrapper a:hover {
  color: #0056b3;
}

/* Sub_content css  */

.feature-detail {
  padding: 40px 0 10px 100px;
  border-radius: 8px;
}

.feature-detail h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.feature-detail h3 {
  color: #0056b3;
}

.feature-detail ul {
  list-style-type: none;
  padding-left: 0;
}

.feature-detail li {
  margin-bottom: 10px;
}

.feature-detail strong {
  color: #003d80;
}

.feature-bottom {
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;

  gap: 20px;
}

.feature-bottom > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.feature-detail p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.feature-detail a {
  color: #007bff;
  text-decoration: none;
}

.feature-detail a:hover {
  text-decoration: underline;
}

/* Text css */

.text-container {
  padding: 20px;
  border-radius: 8px;
}

.text-wrapper {
  max-width: 800px;
  margin: auto;
}

.text-card-container {
  padding: 20px;
}

.text-card-wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-card-wrapper h1 {
  color: #003d80;
  font-size: 1.8em;
  line-height: 1.4;
}

/* VK share css */

.vk-container {
  padding: 20px;
  background-color: #e6f7ff;
  border-radius: 8px;
  text-align: center;
}

.vk-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.vk-container a:hover {
  background-color: #0056b3;
}

/* Pagination css */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.pagination-wrapper {
  display: flex;
}

.pagination {
  display: flex;
  gap: 20px;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: rgb(0, 123, 255, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.pagination li:hover {
  background-color: rgb(0, 123, 255, 0.4);
  transition: 0.5s;
}

.pagination li > a {
  color: rgb(0, 62, 127);
  font-weight: bold;
  text-decoration: none;

  padding: 8px 12px;
}

/* Progress css */

.footer-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-xs-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 300px;
}

.progress {
  background-color: #e0e0e0;
  border-radius: 8px;
  height: 20px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 100%;
  transition: width 0.4s ease;
  border-radius: 8px;
}

.progress-bar-primary {
  background-color: #007bff;
}

.progress-bar-success {
  background-color: #28a745;
}

.progress-bar-warning {
  background-color: #ffc107;
}

.progress-bar-danger {
  background-color: #dc3545;
}

.progress-text {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  left: 50%;
}

/* Article Container Styles */
.article-container {
  max-width: 800px; /* Limit width for better readability */
  margin: auto; /* Center align */
  padding: 20px;
  background-color: #e6f7ff; /* Soft blue background */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Article css */

.arcticle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 40px 0;
}

.arcticle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-header {
  border-bottom: 2px solid #007bff;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: #003d80;
  font-size: 2.5em;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  color: #0056b3;
}

.article-intro {
  margin-bottom: 20px;
}

.article-content {
  line-height: 1.6;
}

.arcticle-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  margin: 10px 0;
}

.article-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.arcticle-container::after {
  content: "";
  position: absolute;
  left: 50;
  bottom: -1px;
  width: 1000px;
  height: 2px;
  background-color: #ccc;
}

.arcticle-container:last-child::after {
  display: none;
}

/* Footer css */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20315f;
  padding: 20px 0px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
}

.footer-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 168px;
}

.footer-col > h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}

.footer-col > h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col > p {
  font-weight: normal;
  color: #ffffff;
}

.footer-col > p > a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.footer-col:last-child > div {
  display: flex;
}

.footer-col:last-child > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col:last-child > div > a > img {
  height: 100%;
  width: 100%;
}

.footer-col:last-child > div > a:nth-child(1) > img,
.footer-col:last-child > div > a:nth-child(3) > img {
  height: 90%;
  width: 90%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
  font-size: 14px;
  color: #fff;
}
